  <li class='card-panel orange white-text col s12 m12 l12 employee-list-item'>
      <div>
        {{firstname}} {{lastname}}
        <a class="right white-text light-blue btn-small" href="/employee/{{id}}"><i class="material-icons left">perm_contact_calendar</i> View Calendar</a>
      </div>
  </li>